.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 100vh;
    background-image: url('https://rare-gallery.com/thumbs/376147-4k-wallpaper.jpg');
    background-size: cover;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 190, 190, .3);
    gap: .8rem;
}

.loginContainer {
    border: 1px solid;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgb(196, 190, 190, .3);
    height: 52vh;
}

.loginInput {
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 1rem;
    background-color: rgba(250, 242, 242);
    padding: .3rem;
}

.logHead {
    font-weight: 900;
    margin-bottom: .2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginInput:hover {
    background-color: blanchedalmond;
}

.logbtn {
    border: none;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: blueviolet;
    color: white;
    min-width: 10vw;
    font-size: 1.4rem;
}

.logbtn:hover {
    background-color: greenyellow;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.regfoot {
    font-size: 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1.1rem;
    /* margin-bottom: 2rem; */
    background-color: rgb(196, 190, 190, .3);
    color: black;
}

.spanReg {
    color: rgb(148, 5, 5);
    text-decoration: underline;
    cursor: pointer;
    background-color: aquamarine;
}

.spanReg:hover {
    color: rgb(165, 54, 10);
    /* font-size: 15px; */
}

img {
    width: 20vw;
    height: 60vh;
}

.errLogPass {
    margin: 0;
    padding: 0;
    width: 20vw;
    color: red;
    background-color: rgb(107, 141, 155, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.errLogEmail {
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: rgb(107, 141, 155, 0.1);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.match {
    color: red;
    text-align: center;
}