
 
 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 17, 17);
    color: aliceblue;
    padding-top: 8vh;
    padding-bottom: 15vh;

}

.card1{
    border: 2px solid rgb(232, 229, 229);
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50vh;
    height: 70vh;
    justify-content: center;
}

.s1{
    font-size: 2rem;
    margin-left: 5rem;
    font-weight: bold;
}

.s2 {
    margin-left: 6rem;
    font-size: 30px;
    margin-top: 2vh;
  }

.s3{
    font-size: 60px;
    margin-right: 20px;
    margin-top: 5vh;
  }

.s4{
    margin-left: 20vh;
    font-size: 20px;
}

.p{
    margin-top: 10vh;
    margin-left: 2vh;
}


.btn{
    margin-top: 9vh;
    border: 2px solid black;
    width: 35vh;
    height: 6vh;
    margin: 8vh;
    font-size: larger;
    border: none;
    cursor: pointer;
}

.card2{
    background-color: white;
    border: 2px solid rgb(232, 229, 229);
    margin-left: 1%;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 50vh;
    height: 80vh;
    color: rgb(224, 219, 219);
}

.s5{
    font-size: 28px;
    margin-left: 50px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color: black;
}

.s6{
    margin-left: 90px;
    font-size: 30px;
    margin-top: 2vh;
    background-color: white;
    color: black;
    font-weight: 900;
  }

.s7{
    font-size: 60px;
    margin-right: 20px;
    margin-top: 5vh;
    background-color: white;
    font-weight: 900;
    color: black;
  }

.s8{
    margin-left: 17vh;
    font-size: 20px;
    background-color: white;
    font-weight: 900;
    color: black;
}

.para {
    margin-top: 10vh;
    margin-left: 2vh;
    color: white;
}

.p{
    margin-top: 10vh;
    margin-left: 2vh;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.btns{
    margin-top: 9vh;
    border: 2px solid white;
    width: 35vh;
    height: 7vh;
    margin: 8vh;
    font-size: larger;
    cursor: pointer;
    background-color: lightgreen;
}

.content{
    border: 2px solid  rgb(22, 17, 17);
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 68vh;
    height: 80vh;
}

.heading{
    margin-left: 2vh;
    font-size: 4vh;
}

.p1{
    font-size: 3vh;
    margin-left: 2vh;
    margin-top: 3vh;
}

.p2{
    margin-top: 3vh;
    margin-left: 2vh;
    color: rgb(223, 226, 229);
}

.p3{
    margin-top: 5vh;
    margin-left: 2vh;
    font-size: larger;
}

.p4{
    margin-left: 2vh;
}


@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      padding-top: 4vh;
      padding-bottom: 4vh;
    }
    
    .card1{
        height: 60vh;
    }

    .s1{
       margin-left: 19vh;
    }

    .s2{
       margin-left: 19vh;
    }

    .s4{
        margin-left: 22vh;
       font-size: 22px;

    }

    .card2{
        margin-left: 101px;
        flex-direction: column;
        height: 70vh;
        margin: 0 auto;
    }

    .s5{
        margin-left: 13vh;
     }
 
     .s6{
        margin-left: 19vh;
     }
 
     .s8{
         margin-left: 20vh;
         font-size: 22px;
     }

    .content{
        margin-left: 101px;
        width: 50vh;
        height: 70vh;
        margin-right: 0 auto;
    }
  }

