.container{
    display: flex;
    background-color: rgb(22, 17, 17);
    color: aliceblue;
    /* text-align: center; */
}

.card1{
    border: 2px solid rgb(232, 229, 229);
    margin-left: 23%;
    margin-top: auto;
    margin-bottom: auto;
    width: 105vh;
    height: 60vh;
    justify-content: center;
}

.card2{
    border: 2px solid rgb(232, 229, 229);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120vh;
    height: 70vh;
    background-color: rgb(240, 247, 247);
    color: black;
    padding-top: 20px;
}

.content{
    margin-top: 20px;
    margin-left: 10vh;
}

span{
    
}