.img {
    width: 99vw;
    height: 100vh;
}

.imgText {
    position: absolute;
    bottom: 0;
    /* left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* z-index: 1; */
  }