.container {
    display: flex;
    border: 1px solid;
    width: 99vw;
    height: 10vh;
    background-color: black;
    opacity: .7;
    align-items: center;
    top: 0;
    justify-content: space-around;
    position: fixed;
}

.gymContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.menuLinks {
    display: flex;
    /* flex: 1; */
    gap: 2rem;
    margin-left: 1rem;
    
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    /* background-color: antiquewhite; */
    gap: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: rgb(228, 133, 9);
    font-weight: 900;
}

.linkGym {
  font-weight: 900;
}

.gymIcon {
    color: red;
}

.joinBtn {
  background-color: antiquewhite;
}


.linkJoin {
    background-color: red;
    padding: 0.3rem;
    border-radius: .4rem;
}

.linkJoin:hover {
    color: rgb(128, 32, 99);
}

.hamburger {
    font-size: 2rem;
    color: rgb(20, 20, 20);
    cursor: pointer;
  }
  
  .mobileMenu {
    display: none;
  }
  
  .desktopLinks {
    display: flex;
  }

  .link:active {
    color: green;
  }


   @media screen and (max-width: 768px) {

    .linkContainer {
      flex-direction: column;
    }
  
    .link {
      margin: 0;
      color: #583535;
      padding: 0.5rem;
      font-weight: 700;
    }
  
    .desktopLinks {
      display: none;
    }
  
    .mobileMenu {
      display: block;
      position: relative;
    }

    .hamburger {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menuLinks {
      position: absolute;
      flex-direction: column;
      background-color: rgb(201, 195, 188, 0.8);
      top: 2rem;
      left: -4rem;
      margin-left: 0;
      padding: 1.7rem;
      gap: 1rem;
      z-index: 999;
    }
  
    .menuLinks.active {
      left: 0;
    }
  }

  .gymContainer {
    align-items: start;
  }

  .linkGym {
    display: flex;
    text-decoration: none;
    color: rgb(228, 23, 23);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.linkJoin {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
    border: none;
}